@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin : 0;
  padding : 0;
}

.nav-container{
  /* position : fixed; */
  background-color : transparent;
  background: linear-gradient(rgba(0,0,0,.534),transparent);
  color : white;
  width : 100%;
  transition : 0.4s;
}

.nav-container:hover {
  background-color : black;
  transition : 0.4s;
}

.nav-row-1 {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  padding : 0 4% 0 4%;
}

.nav-row-1 h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing : 4px;
}

.row-1-contactInfo, .row-1-utilities {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}

.row-1-contactInfo {
  width : 150px;
}

.row-1-siteLogo {
  margin-left : -30px;
}

img[alt = "GitHub Icon"]{
  width : auto !important;
  height : 18px !important;
}

.row-1-utilities {
  width : 100px;
}

.row-1-contactInfo a, .row-1-utilities a{
  text-decoration : none;
  font-family: 'Didact Gothic', sans-serif;
  color : white;
  font-size : 0.8rem;
}

.nav-row-2 {
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
}

.row-2-contents {
  display : flex;
  flex-direction : row;
  justify-content : space-around;
  align-items : center;
  width : 300px;
  padding-bottom : 1%;
  padding-left : 30px;
  margin-top : -16px;
}

.row-2-contents a{
  text-decoration : none;
  color : white;
  font-family : 'Didact Gothic', sans-serif;
  font-size: 0.8rem;
}

.nav-container img {
  height : auto;
  width : 24px;
}

.main-video {
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
}

video {
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
  overflow: clip;
  position : fixed;
  bottom : 0;
  z-index : -3;
}

.buttons-container {
  position : relative;
  top : 35vh;
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
}

.buttons {
  display : flex;
  width : 500px;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  z-index: 0;
}

.buttons button {
  cursor : pointer;
  width : 230px;
  background-color : black;
  color : white;
  font-family : 'Didact Gothic', sans-serif;
  font-size : 1.2rem;
  padding : 1.2vh 0 1.2vh 0;
  transition : 0.5s;
  border : none;
}

.buttons button:hover {
  background-color : white;
  color : black;
  transition : 0.5s;
  box-shadow : 1px 1px 5px 2px rgba(0, 0, 0, 0.36);
}

.mobile-navigation {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  right : 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}

.overlay-close {
  display : flex;
  justify-content : flex-end;
  padding-right : 20px;
  padding-top : 15px;
}

.overlay-close a{
  text-decoration : none;
  color : white;
  font-size : 34px;
}

.overlay-contents{
  height : 80px;
  margin-right : 20px;
  display : flex;
  flex-direction : column;
  justify-content : space-between;
  align-items : center;
}

.overvlay-open{
  display : none;
}

#overlay-closeBtn{
  margin-top : 5px;
  outline : none;
  background-color : transparent;
  border : none;
  font-size : 38px;
  color : white;
}

@media(max-width : 768px){

}

@media(max-width : 500px){

  .buttons{
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : center;
    height : 100px;
  } 

  .row-1-contactInfo {
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : center;
  }

  .row-1-contactInfo img {
    position : absolute;
    display : none;
  }

  .nav-row-1 {
    padding-left : 0;
  }

  .row-1-utilities{
    width : 70px;
    display : none;
  }
  .overvlay-open{
    display : flex;
    flex-direction : row;
    justify-content : flex-end;
    align-items : center;
    width : 70px;
  }

  .overvlay-open button {
    background-color : transparent;
    color : white;
    outline : none;
    border : none;
    font-size : 34px;
  }

}
