@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin : 0;
  padding : 0;
  font-family : 'Didact Gothic', sans-serif;
  /* background-color : black; */
}

.nav-container{
  z-index : 10;
  position : fixed;
  background-color : transparent;
  background: linear-gradient(rgba(0,0,0,.534),transparent);
  color : white;
  width : 100%;
  transition : 0.4s;
}

.nav-containerBg{
  background-color : black !important;
}

.nav-container:hover {
  background-color : black;
  transition : 0.4s;
}

.nav-row-1 {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  padding : 0 4% 0 4%;
}

.nav-row-1 h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing : 4px;
}

.row-1-contactInfo, .row-1-utilities {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}

.row-1-contactInfo {
  width : 150px;
}

.row-1-siteLogo {
  margin-left : -30px;
}

img[alt = "GitHub Icon"]{
  width : auto !important;
  height : 18px !important;
}

.row-1-utilities {
  width : 100px;
}

.row-1-contactInfo a, .row-1-utilities a{
  text-decoration : none;
  font-family: 'Didact Gothic', sans-serif;
  color : white;
  font-size : 0.8rem;
}

.row-2-contents {
  margin : 0 auto;
  display : flex;
  flex-direction : row;
  justify-content : space-around;
  align-items : center;
  width : 300px;
  padding-bottom : 1%;
  padding-left : 30px;
  margin-top : -16px;
}

.row-2-contents a{
  text-decoration : none;
  color : white;
  font-family : 'Didact Gothic', sans-serif;
  font-size: 0.8rem;
}

.nav-container img {
  height : auto;
  width : 24px;
}

.main-video {
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
}

video {
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
  overflow: clip;
  position : fixed;
  bottom : 0;
  z-index : -3;
}

.buttons-container {
  position : relative;
  top : 45vh;
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
}

.buttons {
  display : flex;
  width : 500px;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  z-index: 0;
}

.buttons button {
  cursor : pointer;
  width : 230px;
  background-color : black;
  color : white;
  font-family : 'Didact Gothic', sans-serif;
  font-size : 1.2rem;
  padding : 1.2vh 0 1.2vh 0;
  transition : 0.5s;
  border : none;
}

.buttons button:hover {
  background-color : white;
  color : black;
  transition : 0.5s;
  box-shadow : 1px 1px 5px 2px rgba(0, 0, 0, 0.36);
}

.mobile-navigation {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  right : 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}

.overlay-close {
  display : flex;
  justify-content : flex-end;
  padding-right : 20px;
  padding-top : 15px;
}

.overlay-close a{
  text-decoration : none;
  color : white;
  font-size : 34px;
}

.overlay-contents{
  height : 80px;
  margin-right : 20px;
  display : flex;
  flex-direction : column;
  justify-content : space-between;
  align-items : center;
}

.overvlay-open{
  display : none;
}

#overlay-closeBtn{
  margin-top : 5px;
  outline : none;
  background-color : transparent;
  border : none;
  font-size : 38px;
  color : white;
}

.mens-section{
  background-image : linear-gradient(to top,#000,transparent),url(C:\Users\abhis\repos\ShoppingSite\e-commerce-site\public\mensCover.jpg);
  background-position-x: center;
  background-position-y : center;
  background-repeat: no-repeat;
  background-size: cover;
  position : relative;
  font-family: 'Didact Gothic', sans-serif;
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
  height : 85vh;
  color : white;
}

.mens-section button{
  background-color : transparent;
  color : white;
  border : none;
}

.mens-title h1{
  font-size : 45px;
  letter-spacing: 10px;;
}

.filters {
  position : absolute;
  border-bottom : 1px solid rgb(72, 72, 72);
  bottom : 20px;
  width : 850px;
  padding : 0 80px 0 80px;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}

.filters > div{
  display : flex;
  flex-direction : row;
  align-items : center;
  justify-content : space-evenly;
  width : 100px;
}

select{
  background-color :rgb(0, 0, 0);
  border : none;
  color : white;
  width : 200px;
  text-align : center;
  font-size : 15px;
  cursor : pointer;
}
.product-catalogue-container{
  display : grid;
  grid-template-columns : repeat(auto-fill, minmax(260px, 1fr));
  row-gap: 5px;
  column-gap: 5px;
  background-color : black;
  color : white;
  padding : 80px 100px 100px 100px;
  position : relative;
}

.product4{
  outline : 1px solid cyan;
}

.productCommonStyle{
  overflow: hidden;
  height : 480px;
  display : flex;
  flex-direction : column;
  justify-content : flex-start;
  align-items : center;
  cursor : pointer;
  position : relative;
  transition : 0.4s;
}

.productCommonStyle:hover{
  margin-top : -15px;
  transition : 0.5s;
}

.price{
  padding : 10px 0 10px 0;
  width : 100%;
  text-align : center;
  margin : 5px 0 0 0;
}

.product-catalogue-container img {
  width : 100%;
  height : 90% !important;
  object-fit: fill;
  /* object-fit :cover; */
  opacity : 0.8;
  transition: 0.5s all ease-in-out;
}

.product-info{
  width : 100%;
  position : absolute;
  background-color : black;
  height : 210px !important;
  bottom : 43px;
  padding : 60px 20px 40px 20px;
  display : none;
  flex-direction : column;
  justify-content : flex-start;
  align-items : flex-start;
}

.product-info h3, .product-info p{
  width : 100%;
  margin : 0;
  padding : 0;
}

.product-info p{
  font-size : 14px;
  margin-top : 5px;
}

#smallP{
  font-size : 12px !important;
  margin-top : 10px !important;
}

.about{
  min-height : 100vh;
  background-image : linear-gradient(to top,#000000c6,transparent),url(C:\Users\abhis\repos\ShoppingSite\e-commerce-site\public\aboutCover.jpg);
  background-position: center;
  background-size : cover;
  background-repeat: no-repeat;
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
}

.about-info{
  margin-top : -50px;
  width : 550px;
  text-align : center;
  font-family : 'Didact Gothic', sans-serif;
  color : white;
}

.about-info h1{
  font-size : 50px;
  letter-spacing : 8px;
  word-spacing: 10px;
  font-weight : 400;
}

.about-info p{
  margin-top : -20px;
}

::-webkit-scrollbar{
  width : 17px;
}

::-webkit-scrollbar-track{
  background-color : rgb(22, 22, 22);
}

::-webkit-scrollbar-thumb{
  background-color : gray;
  border-radius : 20px;
}

::-webkit-scrollbar-thumb:hover{
  cursor : pointer;
  background-color : rgb(56, 56, 56)
}

.womens-section{
  background-image : linear-gradient(to top,#000,transparent),url(C:\Users\abhis\repos\ShoppingSite\e-commerce-site\public\womensCover.jpg);
  background-position-x: center;
  background-position-y : center;
  background-repeat: no-repeat;
  background-size: cover;
  position : relative;
  font-family: 'Didact Gothic', sans-serif;
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
  height : 85vh;
  color : white;
}

.reactLinks{
  color : inherit;
  text-decoration : none;
}

.productDiv{
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}

.product-img{
  background-color: #000;
  width : 50%;
  height : 100vh;
  background-size: 600px 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 0px;
}

.product-info-div{
  width : 50%;
  height : 100vh;
  color : white;
  background-color : black;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : flex-start;
  padding : 0px 125px 200px 50px;
}

.product-info-top{
  border-bottom : 1px solid rgb(34,34,34);
  padding-bottom : 30px;
  padding-top : 50px;
  width : 100%;
}

.product-info-bottom{
  padding-top : 40px;
  width : 350px;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}

.product-info-bottom button{
  padding : 4px 35px 4px 35px;
}

#title{
  font-size : 12px;
}

#size{
  width : 150px;
}

.product-info-top h1{
  font-weight : 600;
  margin-top : -15px;
}

.product-info-top h2{
  font-size : 16px;
  font-weight : 400;
  margin-top : -20px;
}

@media(max-width : 850px){
  .filters{
    width : 100%;
  }
  

  .filters select{
    width : 100px;
    background-color : rgba(0, 0, 0, 0.501);
  }

}

@media(max-width : 500px){

  .video{
    display : none;
    width : 0;
    height : 0;
  }

  video{
    display : none;
    width : 0px;
    height : 0px;
  }

  .filters{
    flex-direction : column;
    height : 120px;
  }

  .testView{
    background-image : url(C:\Users\abhis\repos\ShoppingSite\e-commerce-site\public\pexels-hıdır-dedebey-15830691.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height : 100vh;
  }

  .product-catalogue-container{
    padding : 50px;
  }

  .buttons{
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : center;
    height : 100px;
  } 

  .buttons button{
    background-color : rgba(0, 0, 0, 0.219);
    border : 1px solid white;
  }

  .row-1-contactInfo {
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : center;
    width : 100px;
    text-align : center;
    padding-top : 8px;
  }

  .row-1-contactInfo img {
    position : absolute;
    display : none;
  }

  .nav-row-1 {
    padding-left : 0;
  }

  .row-1-utilities{
    width : 70px;
    display : none;
  }
  .overvlay-open{
    display : flex;
    flex-direction : row;
    justify-content : flex-end;
    align-items : center;
    width : 70px;
  }

  .overvlay-open button {
    background-color : transparent;
    color : white;
    outline : none;
    border : none;
    font-size : 34px;
  }

}

@media(max-width : 360px){
  .product-catalogue-container{
    grid-template-columns : repeat(auto-fill, minmax(200px, 1fr));
    padding : 30px;
  }

  video{
    display : none;
    width : 0px;
    height : 0px;
  }

  .video{
    display : none;
  }
}

@media(min-width : 501px) and (max-width : 724px){
  .product-catalogue-container{
    padding-right : 150px;
    padding-left : 150px;
  }
}
